.container {
    position: relative;
    text-align: center;
    color: rgb(11, 11, 11);
    font-family: serif;
}

/* Bottom left text */
#top-left {
    position: absolute;
    bottom: 200px;
    left: 350px;
}

#hover hover {
    color: black;
}